@import "src/assets/styles/main.scss";

.container-header
{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 21px;
    box-sizing: border-box;
    transition: $transition;
    background-color: var(--background-cards);
    
    &.light
    {
        box-shadow: $box-shadow-light;
        border-bottom: solid 1px var(--border);
    }
    
    .container-logo
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: none;

        .menu-top-title
        {
            font-size: 2.3vh;
        }
    }

    .container-options
    {
        .container-item
        {
            $size: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $size;
            height: $size;
            border-radius: $size;
            cursor: pointer;
            color: var(--title);
            background-color: var(--border);

            i
            {
                height: 16px;
                font-size: 16px;
            }
        }
    }
}
