@import 'src/assets/styles/main.scss';

.container-page
{
    padding: 52px;
    box-sizing: border-box;

    .title
    {
        font-size: 32px;
        margin-bottom: 32px;
    }

    .message
    {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .container-colors-global
    {
        display: flex;
        flex-wrap: wrap;
        gap: 21px 100px;

        .container-color-topic
        {
            .title-card-topic
            {
                margin-top: 32px;
                margin-bottom: 21px;
            }
    
            .container-list-cards
            {
                display: flex;
                grid-gap: 12px;
    
                .card-color
                {
                    font-size: 12px;
                    cursor: pointer;
    
                    .square-color
                    {
                        $size: 100px;
                        width: $size;
                        height: $size;
                        margin-bottom: 8px;
                        border-radius: 10px;
                        box-shadow: $box-shadow-light;
                        border: solid 1px var(--border);
                    }
    
                    .name
                    {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}
