<header-page
    [title]="'Notifications'">
</header-page>

<div class="container-page">

    <!-- Title -->
    <examples-titles
        [title]="'Default'"
        [subTitle]="'Gera uma notificação, para usar a instância da notificação é necessário instânciar no construtor da classe que irá utilizar.'">
    </examples-titles>

    <!-- Example -->
    <container-example 
        [codeCopy]="codeDefault"
        [language]="'typescript'">
        <div class="container-buttons">
            
            <!-- Success -->
            <fover-button
                [type]="'success'"
                (click)="emitNotification('success')">Sucessos
            </fover-button>
            
            <!-- Error -->
            <fover-button
                [type]="'error'"
                (click)="emitNotification('error')">Erros
            </fover-button>
            
            <!-- Info -->
            <fover-button
                (click)="emitNotification('info')">Informações
            </fover-button>
            
            <!-- Warning -->
            <fover-button
                [type]="'warning'"
                (click)="emitNotification('warning')">Atenções
            </fover-button>
        </div>
    </container-example>
</div>
