@import "src/assets/styles/main.scss";

.container-menu
{
    position: fixed;
    height: calc(100vh - 60px);
    width: 200px;
    margin-top: 60px;
    z-index: 1;
    border-right: solid 1px var(--border);

    &.dark
    {
        background-color: var(--background-cards-2);
    }
    
    &.light
    {
        background-color: var(--background-cards);
    }

    .title
    {
        padding: 12px;
        font-size: 17px;
        color: var(--title);
    }

    .container-itens-components
    {
        .item
        {
            padding: 12px;
            cursor: pointer;
            color: var(--placeholder);

            &.dark
            {
                &.active
                {
                    color: var(--title);
                    background-color: var(--primary);
                }
            }
            
            &.light
            {
                &.active
                {
                    color: var(--primary);
                    background-color: var(--primary-background);
                }
            }
        }
    }
}