<nav setThemeNameClass class="container-menu">
    
    <!-- Icones -->
    <div class="container-item">
        <div class="container-itens-components">
            <div 
                setThemeNameClass
                class="item"
                [routerLink]="'/list-components/icons'"
                [routerLinkActive]="'active'">Icones
            </div>
        </div>
    </div>
    
    <!-- Cores -->
    <div class="container-item">
        <div class="container-itens-components">
            <div 
                setThemeNameClass
                class="item"
                [routerLink]="'/list-components/colors'"
                [routerLinkActive]="'active'">Cores
            </div>
        </div>
    </div>

    <!-- Componentes -->
    <div class="container-item">
        
        <!-- Title -->
        <h2 class="title">Componentes</h2>

        <!-- Itens -->
        <div class="container-itens-components">
            <ng-container *ngFor="let item of listItens">
                <div 
                    setThemeNameClass
                    class="item"
                    [routerLink]="'/list-components/' + item.routerLink"
                    [routerLinkActive]="'active'">{{ item.description }}
                </div>
            </ng-container>
        </div>
    </div>
</nav>