<header-page
    [title]="'Buttons'">
</header-page>

<div class="container-page">

    <!-- Default -->
    <div class="container-item">

        <!-- Titles -->
        <examples-titles
            [title]="'Default'"
            [subTitle]="'Gera um botão personalizado com a cor padrão do sistema.'">
        </examples-titles>
    
        <!-- Example -->
        <container-example [codeCopy]="codeDefault">
            <fover-button>Primary default</fover-button>
        </container-example>
    </div>

    <!-- Types -->
    <div class="container-item">

        <!-- Titles -->
        <examples-titles
            [title]="'Tipos de botões'"
            [subTitle]="'Gera um botão personalizado com a cor de acordo com o tipo.'">
        </examples-titles>
    
        <!-- Example -->
        <container-example [codeCopy]="codeTypes">
            <div class="container-examples-types">
                <fover-button>Primary default</fover-button>
                <fover-button [type]="'transparent'">Transparent</fover-button>
                <fover-button [type]="'secondary'">Secondary</fover-button>
                <fover-button [type]="'border'">Border</fover-button>
                <fover-button [type]="'success'">Success</fover-button>
                <fover-button [type]="'error'">Error</fover-button>
                <fover-button [type]="'warning'">Warning</fover-button>
            </div>
        </container-example>
    </div>
</div>
